:root {
    --light-pink: #FFEFEF;
    --main-pink: #ffc3c3;
}

html {
    background-color: var(--light-pink);
}

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    color: black;
}

.minesweeper-cell {
    width: 60px;
    height: 40px;
    background-color: var(--main-pink);
    border: 1px solid black;
    display: flex;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.minesweeper-column {
    display: flex;
    flex-direction: column;
}

#minesweeper-board {
    display: flex;
    flex-direction: row;
}

#minesweeper-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20vh;
    flex-direction: column;
}

#minesweeper-header,
#minesweeper-subheader {
    font-weight: 300;
    margin-top: 0;
}

.btn {
    background-color: var(--main-pink);
    border: 1px solid black;
    padding: 10px;
    min-width: 120px;
    margin-top: 20px;
    cursor: pointer;
    color: black;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

@media only screen and (max-width: 600px) {
    #minesweeper-wrapper {
        min-height: 90vh;
    }
}